@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {

  font-weight: 1100;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background: url('./pic/rfr.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 28px;
  margin-bottom: 60px;
  color: whitesmoke;
  border-radius: 35px;
  border: 3px solid white;
  box-shadow: 5px 4px 4px 4px black;
  font-family: 'Nosifer', sans-serif;
  background:url('./pic/gh.jpg')
 
}

h4 {
  font-size: 25px;
  color: aliceblue;
  border-radius: 35px;
  border: 3px solid white;
  box-shadow: 5px 4px 4px 4px black;
  font-family: 'Nosifer', sans-serif;

}

button {
  border-radius: 10px;
  font-family:cursive;

}


button:hover {
  border-color: red;
}

