@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.mainx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .formx {
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: 1px 6px 16px 8px white;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    padding: 80px;
    width: 800px;
    height: 560px;
    margin-top: 30px;
    border: 4px solid purple;
    border-radius: 199px;
    background: url('../../pic/gh.jpg');
  }

  h4[type="login"] {
    width: 350px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 140px;
    color: aliceblue;
    border: 3px solid white;
    font-family: 'Nosifer', sans-serif;
    box-shadow: 5px 4px 4px 4px black;
    background:url('../../pic/gh.jpg')
  }
  

  input[type="password"]::placeholder,
  input[type="text"]::placeholder {
    font-weight: 300;
    padding: 100px;
    color: wheat;
  }


  input[type="text"],
  input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 11px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 51px;
    background:url('../pic/OIP.jpg');
    box-shadow: 1px 2px 9px 5px white;
    
  }
  
  Button[type="submit2"],
  Button[type="login2"]
   {
    width: 150px;
    height: 41px;
    font-size: 18px;
    color: wheat;
    font-weight: 300;
    margin-top: 40px;
    border-radius: 60px;
    background: transparent;
    border: 2px solid black;
    background: url('../../pic/gh.jpg');
    font-family: 'Nosifer', sans-serif;
    box-shadow: 1px 2px 4px 5px white;
    
  }
  
  @media (max-width: 890px) {

    .mainx {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }

    input[type="text"],
    input[type="password"] {
      width: 40%;
      padding: 10px;
      margin: 11px;
      border-radius: 15px;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 51px;
      background:url('../pic/OIP.jpg');
      box-shadow: 1px 2px 9px 5px white;
      
    }

    input[type="password"]::placeholder,
    input[type="text"]::placeholder {
      font-weight: 300;
      padding: 80px;
      color: white;
    }

    .formx {
      width: 700px;
      height: 560px;
      padding: 10px;
      margin-top: 10px;
      
    }
  
    Form.Label {
      font-size: 14px;
      
    }

    h4[type="login"] {

      font-size: 25px;
      margin-bottom: 40px;
      color: aliceblue;
      width: 35%; 
      margin-top: 50px;
      margin-left: 230px;
      border-radius: 35px;
      border: 3px solid white;
      box-shadow: 5px 4px 4px 4px black;
      font-family: 'Nosifer', sans-serif;

    }

  }
  

