@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.mainx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;

    
  }
  
  .formx {
    height: 100vh;
    margin: 0;
  }
  
  

  .formx {
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: 1px 6px 16px 8px white;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    width: 60%;
    height: 80%;
    margin-top: 80px;
    border: 4px solid black;
    border-radius: 199px;
    background: url('../../pic/gh.jpg');
  }
  

  input[type="password"]::placeholder,
  input[type="text"]::placeholder {
    font-weight: 300;
    padding: 30px;
    color: wheat;
    background: url('../../pic/gh.jpg');
    
  }


  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 35%;
    padding: 10px;
    margin: 11px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 51px;
    background:url('../pic/OIP.jpg');
    box-shadow: 1px 2px 9px 5px white;
    
  }
  
  Button[type="submit"],
  Button[type="login"]
   {
    font-size: 18px;
    background: url('../../pic/gh.jpg');
    /* background-color: transparent; */
    width: 15%;
    border-radius: 15px;
    color: black;
    border: 2px solid black;
    margin-top: 40px;
    box-shadow: 5px 4px 4px 4px whi;
    font-weight: 300;
    font-family: 'Nosifer', sans-serif;
    box-shadow: 1px 2px 9px 5px white;
    
  }
  
  @media (max-width: 790px) {

    .mainx {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }

    .formx {
      width: 700px;
      height: 560px;
      padding: 10px;
      margin-top: 10px;
      
    }
  
    Form.Label {
      font-size: 14px;
      
    }

    h4 {
      font-size: 25px;
      margin-bottom: 40px;
      color: aliceblue;
      width: 35%; 
      margin-top: 30px;
      margin-left: 220px;
      border-radius: 35px;
      border: 3px solid white;
      box-shadow: 5px 4px 4px 4px black;
      font-family: 'Nosifer', sans-serif;

    }


  }
  

